@import url(http://fonts.googleapis.com/css?family=Vidaloka:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);

body {
	font-family: Lora;
	width: 580px;
	margin: 0 auto;
	padding: 0 0 2em 0;
}

h1, h2, h3, h4 { font-family: Vidaloka; color: black; }
h1 { font-size: 128px; font-weight: 700; letter-spacing: -5px; }
h2 { font-size: 1.75em; margin-top: 3em; }
h3 { font-size: 1.5em; margin-top: 2em; }

page {
	display: block;
}

pre code, code {
	font-family: "Source Code Pro";
	font-style: normal;
}

pre  {
	color: black;
	background-color: white;
	border-radius: 4px;
	margin: 0;
}
p { line-height: 1.4; }

table.bit64 {
	border-spacing: 0;
	border-padding: 0;
	border-collapse: collapse;
}
table.bit64 td {
	border: 2px solid black;
	text-align: center;
	font-family: "Source Sans Pro";
	font-style: italic;
}
table.bit64 th {
	font-weight: normal;
	font-size: 75%;
}

strong {
	font-family: "Source Sans Pro", sans-serif;
}	

